<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
      <div class="container">
        <br>
        <h1>QR Code Generator</h1>
        <form action="/generate" method="post">
            <input type="text" name="data" placeholder="Ingresa tu link y genera  QR code" required>
            <button type="submit">Generate QR Code</button>
        </form>
    </div>
</body>
</html>
